@import "tailwindcss";

@layer base{
    h1{
        @apply font-[lato-bold]
    }
    h2,h3,p,li{
        @apply font-[lato-light]
    }
}

@font-face {
    font-family: lato-light;
    src: url(../font/Lato-Light.ttf);
}
@font-face {
    font-family: lato-bold;
    src: url(../font/Lato-Bold.ttf);
}